/*
[class*="csv-maker"]
*/

/* Per tema chiaro (default) */
html[data-theme="default"] [class*="csv-maker"] .publii-repeater > .publii-repeater-item:nth-child(odd) .publii-repeater-item-field input,
html[data-theme="default"] .publii-repeater > .publii-repeater-item:nth-child(odd) .publii-repeater-item-field textarea {
    background-color: #f9f9f9; /* Grigio molto chiaro per tema chiaro */
    color: #000; /* Testo scuro */
}

/* Per tema scuro (dark) */
html[data-theme="dark"] [class*="csv-maker"] .publii-repeater > .publii-repeater-item:nth-child(odd) .publii-repeater-item-field input,
html[data-theme="dark"] [class*="csv-maker"] .publii-repeater > .publii-repeater-item:nth-child(odd) .publii-repeater-item-field textarea {
    background-color: #333; /* Grigio scuro per tema scuro */
    color: #fff; /* Testo chiaro */
}

/* Affianco i div 1% */
[class*="csv-maker"] .publii-repeater-item-field[style*="width: 1%"] {
    flex: 1 0 auto; /* Impedisce ai flex item di ridursi o crescere */
    white-space: nowrap; /* Impedisce il wrapping del testo */
}
